#!/bin/bash

setenforce 0

curl https://impera.io/repo/dev/impera.repo -o /etc/yum.repos.d/impera.repo

yum install -y python3-impera-agent

cat > /etc/impera/agent.cfg <<EOF
{{ agent_config }}
EOF

systemctl enable impera-agent
systemctl start impera-agent
